*{

    margin: 0px;
    padding: 14px auto;
    -webkit-box-sizing: border-box;

}

.Mainbox{   
    width: auto;
    height: 500px;
    display: block;
    
    
}


.logo{
    height: 38px;
    width: 115px;
    background-size: cover;
    background-image: url(amazon-logo2.jfif);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 570px;
    margin-top: 12px;
    padding-top: 0px;
}

.form{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 253, 253);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 460px;
    border-radius: 2%;
    border: 1px solid rgb(212, 212, 212);
    position: relative;
    padding: 20px 26px;
}

.MainH{
    font-size: 28px;
    font-weight: 250;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.text{
    font-weight: bolder;
    padding: 0px 0px 2px 2px;
}

.input{
    width: 290px;
    height: 25px;
    padding: 3px 7px;
    margin: 10px 2px;
}

.button{
    width: 290px;
    height: 25px;
    border: 1px;
    border-radius: 6px;
    background-color: #ffd814;
    margin-bottom: 22px;
}

.conditions{
    font-size: 12px;
    padding-bottom: 22px;
}

.terms{
    color: #0066C0;
    text-decoration: none;
    margin: 18px 0px 0px;
    padding-bottom: 22px;
}


.line{
    width: 300px;
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #dddada;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 14px;
    justify-content: center;
}

.buying{
    padding-bottom: 10px;
}