*{
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 5000;
  

}

p{
    background-color: transparent;
}

/* image section */


.background_image{
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.99) 100%), url(main_image1.jpg);  
    height: 700px;
    width: auto; 
    min-width: 400px;
}


.navbar{

    background-color: rgb(6, 21, 32);
    height: 60px;
    width: 1000px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 400px;

    
}

.logo{
    margin-top: 05px;
    margin-left: 140px;
    height: 65px;
    width: 160px;
    background-size: cover;
    position: absolute;
    background-color: transparent;
    background-image: url(netflix-logo-png.png);
}

.signIn{
    position: absolute;
    height: 35px;
    width: 80px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   text-decoration: none;
    border-radius: 5px;
    background-color: #e00707;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1020px;
    margin-top: 27px;
   
}


/* Title section */


.title{
     margin-top: 280px;
    height: 200px;
    width: auto;
    background-color: transparent;
    min-width: 400px;

}

.heading{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 800;
    background-color: transparent;
    min-width: 400px;


}

.title1{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    background-color: transparent;
    min-width: 400px;


}

.title2{
 
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-weight: 500;
    background-color: transparent;
    min-width: 400px;

}

/* email section */


.email{
    background-color: transparent;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    margin-top: -20px;
    margin-bottom: 50px;
    min-width: 400px;

}
.input{
 font-size: 15px;
 background-color: rgba(129, 169, 206, 0.26);
 height: 50px;
 width: 340px;
 border: 1px solid rgba(136, 132, 132, 0.582);
 border-radius: 5px;
 padding-left: 30px;
 font-weight: bold;

}

.input1{
    font-size: 50px;
    background-color: transparent;
    height: 50px;
    margin-top:  -30px;
   
   }

.button1{

    margin-left: 10px;
    background-color: #e00707;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 30px;
    font-size: 25px;
    height: 55px;
    border: 1px solid black;
    border-radius: 5px;
}


/* Line section */

.line{
    margin-top: 700px;
    height: 8px;
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgb(43, 41, 41);
    min-width: 400px;

}


/* First add */



.add1{
    height: 340px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
    padding-top: 72px;
    margin-right: 32px;
    margin-left: 32px;
    
}

.text1{

    height: 190px;
    width: 450px;
    padding-right: 20px;
    margin-top: -80px;
}

.add_heading{
    font-size: 45px;
    font-weight: 800;
    
}

.add_text{
    font-size: 24px;
    font-weight: 500;
    margin-top: -25px;

}

.image1{
    height: 351px;
    width: 468px;
    background-image: url(tv.png);
    background-size: cover;
    padding-left: 20px;
    
}



.line2{

    height: 8px;
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgb(43, 41, 41);
}


/* Second add */



.add{
    height: 340px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
    padding-top: 72px;
    margin-right: 32px;
    margin-left: 32px;
    
}

.text1{

    height: 190px;
    width: 450px;
    padding-left: 20px;
    margin-top: -80px;
}

.add_heading{
    font-size: 45px;
    font-weight: 800;
    
}

.add_text{
    font-size: 24px;
    font-weight: 500;
    margin-top: -25px;

}

.image2{
    height: 351px;
    width: 468px;
    background-image: url(mobile-0819.jpg);
    background-size: cover;
    padding-right: 20px;
    
}

/* .short_image{
    height: 76px;
    width: 280px;
    background-image: url(boxshot.png);
    background-size: cover;
    position: relative;
    z-index: 1111;
    border: 2px solid rgb(43, 41, 41);
    border-radius: 15px;

    
} */



/* Third add */



.add1{
    height: 340px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
    padding-top: 72px;
    margin-right: 32px;
    margin-left: 32px;
    
}

.text1{

    height: 190px;
    width: 450px;
    padding-right: 20px;
    margin-top: -80px;
}

.add_heading{
    font-size: 45px;
    font-weight: 800;
    
}

.add_text{
    font-size: 24px;
    font-weight: 500;
    margin-top: -25px;

}

.image3{
    height: 351px;
    width: 468px;
    background-image: url(AAAABejKYujIIDQciqmGJJ8BtXkYKKTi5jiqexltvN1YmvXYIfX8B9CYwooUSIzOKneblRFthZAFsYLMgKMyNfeHwk16DmEkpIIcb6A3.png);
    background-size: cover;
    padding-left: 20px;
    
}



/* Forth add */



.add1{
    height: 340px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
    padding-top: 72px;
    margin-right: 32px;
    margin-left: 32px;
    
}

.text1{

    height: 190px;
    width: 450px;
    padding-right: 20px;
    margin-top: -80px;
}

.add_heading{
    font-size: 45px;
    font-weight: 800;
    
}

.add_text{
    font-size: 24px;
    font-weight: 500;
    margin-top: -25px;

}

.image4{
    height: 351px;
    width: 268px;
    background-image: url(Netflix-logo-on-transparent-background-PNG.png);
    background-size: cover;
    padding-left: 20px;
    margin-right: 150px;
    
}



/* Questions Section */

.question{
    height: 980px;
    width: auto;
    
    

}


.main_heading{
    font-size: 45px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    margin-top: 20px;
}

.option{
    height: 85px;
    max-width: 900px;
    width: auto;
    font-size: 24px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    background-color:  rgb(43, 41, 41);
    margin-left: 150px;
    margin-bottom: 10px;
    text-decoration: none;
}

.plus{
    font-size: 50px;
    font-weight: 100;
}



/*  searchBar Section  */

.complimentry-text{
    font-size: 20px;
    height: 50px;
    width: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*  Links Section  */


.top_option{
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 140px;
}


.option-line1{
    display:flexbox;
   
    padding-left: 140px;
    height: 30px;
    width: 1000px;
}

.items{
    padding-right: 70px;
    font-size: 14px;
    height: auto;
    width: 200px;
    max-width: 260px;
    min-width: 150px;
}