body {
    font-family:'Courier New', Courier, monospace ;
    margin: 0;
    padding: 0;
    background-color: #DDB892;
    
}

.heading {
    margin-top: 10vmin;
    font-size: 7rem;
    font-weight: 900;
    background: linear-gradient(#7f553910, #7f55396b,  #7f55396b, #7f553910);
    color: rgb(255, 231, 207)
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.49) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.39) 100%), url(coffee3.jpg);
    background-size: cover;
    height: 75vh;
    padding: 80px 0;
    text-align: center;
    
    
}

.line2{

    height: 8px;
    width: auto;
    margin-left: -8px;
    margin-right: -0px;
    background-color: #9C6644;
}


section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    width: 50vmin ;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    background-color: #683f26;
    border-radius: 10rem;
    color: wheat;

}

.item {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 25rem;
    width: 70vw;
}

.data {
    margin: 3rem;

}

.shadow {
    box-shadow: 0px 0px 50px #ff6600;

}

.img1 {
    background-image: url(coffee1.jpg);
    background-size: cover;
    height: 20rem;
    width: 40rem;
    border-radius: 10rem;
    
}

.img2 {
    background-image: url(coffee2.jpg);
    background-size: cover;
    height: 20rem;
    width: 30rem;
    border-radius: 10rem;
    
}

.img3 {
    background-image: url(coffee4.jpg);
    background-size: cover;
    height: 20rem;
    width: 40rem;
    border-radius: 10rem;
    
}

.img4 {
    background-image: url(Caffe_Americano.jpg);
    background-size: cover;
    height: 20rem;
    width: 40rem;
    border-radius: 10rem;
    
}

.text {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 5rem;
    font-weight: bold;
    
}

h3 {
    margin-top: 20px;
    font-size: 3rem;
}


.price {
    font-size: 25px;
    color:#fae8d9;
    margin-left: 5rem;
    font-weight: bold;
    border: none;
    border-radius: 5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #9C6644;
    text-decoration: none;
}


.TotalPrice {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculateButton {
    width: 6rem;
    height: 2.8rem;
    font-size: 15px;
    color:#fae8d9;
    margin-right: 02rem;
    
    font-weight: bold;
    border: none;
    border-radius: 5rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #9C6644;
    text-decoration: none;
}

.priceP {
 
    background-color: #9C6644;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    
}

.DisplayPrice {
    font-size: 18px;
    color:#fae8d9;
    margin-left: 0rem;
    font-weight: bolder;
    border: none;
    border-radius: 3rem;
    padding: 0.0rem;
    padding-left: 0.3rem;
   
    background-color: #9C6644;
    text-decoration: none;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.dolar {
    font-size: 22px;
    color:#fae8d9;
    margin: 0rem;
    font-weight: bolder;
    border: none;
    border-radius: 3rem;
    padding: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: #9C6644;
    text-decoration: none;
}

.NoItems {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 4rem;    */
}

.NoOfItem {
    font-size: 19px;
    color:#fae8d9;
    margin-left: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    padding: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: #9C6644;
    text-decoration: none;
    
}

.itempurchased {
    font-size: 15px;
    color:#fae8d9;
    margin-right: 03.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #9C6644;
    text-decoration: none;
    width: 5.5rem;
    text-align: center;
}

.lastdiv {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
    background-color: #333;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #683f26b4;
    height: 9rem;
    width: 13rem;
    margin: auto; /* To center the div horizontally */
    padding: 1rem;
    margin-bottom: 1rem; /* Add space below the div */
}

/* Other CSS styles remain unchanged */



.about {
    margin-top: 500px;
    width: 50vmin ;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    background-color: white;
    border-radius: 10rem;
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
